aiogemini @ git+https://github.com/keis/aiogemini.git@master
aiohttp>=3.8.1
aiohttp-socks>=0.6.0
diskcache>=5.4.0
easydict>=1.9
yarl>=1.7.2
markdownify>=0.11.2
md2gemini>=1.9.0
multidict<5.0,>=4.5
PyYAML>=6.0
